/*#container, #schedule {
    height: inherit;
}*/
/* Navigation bar start */
nav object {
    padding-left: 12px;
}
/* Navigation bar end */

/* Side bar start */
@media only screen and (max-width: 992px){
    .side-nav.fixed {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#side-bar {
    width: 60px;
    top: 64px;
    z-index: 1;
}

#side-bar a {
    height: 60px;
    line-height: 60px;
    color: #b0bec5;
    font-size: 1.2rem;
    font-weight: 400;
}

#side-bar a:hover {
    background-color: #37474f;
    color: #eceff1;
}

#side-bar i {
    line-height: 60px;
    color: #b0bec5;
    font-size: 2rem;
    margin: 0 24px 0 0;
}

#side-bar a:hover i {
    color: #eceff1;
}

#side-bar .collapsible-body a {
    background-color: #161d20;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    font-size: 1rem;
}

#side-bar .collapsible-body a i {
    font-size: 1.2rem;
    margin: 0 12px 0 0;
    line-height: 48px;
}

#side-bar .collapsible-body a:hover {
    background-color: #1e282c;
}

#back, #divider {
    position: fixed;
    width: 100%;
}

#divider {
    bottom: 60px;
}

#divider > div {
    background-color: #b0bec5;
}

#back {
    bottom: 0;
}

.selected i,
.selected {
    color: white !important;
}

.loading {
    display: none;
}

#semesters ul {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#semesters > ul > li {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
/* Side bar end */

#container,
#schedule,
md-card, .day {
    height: 100%;
}

md-card {
    position: relative;
}

.day {
    position: absolute;
    top: 0;
    width: 19%;
    font-size: 1.2rem;
    font-weight: 300;
}

.day div {
    border-left: 1px solid #cfd8dc;
}

.day.as-hours-head {
    left: 0;
    width: 5%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.hour {
    width: 95%;
    margin-left: 5%;
    border-bottom: 1px solid #cfd8dc;
}

.half.hour {
    border-bottom-color: #eceff1;
}

.hour.as-days-head {
    height: 5%;
    border-top-right-radius: 2px;
}

.hour-label {
    position: absolute;
    width: 5%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.class {
    width: calc(19% - 1px);
    position: absolute;
    padding: 0.5rem 0.5rem 0.7rem 0.7rem;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: inset 0 0 10rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

@media only screen and (max-width: 600px) {
    .class {
        padding: 0.2rem 0.2rem 0.3rem 0.3rem;
        font-size: 0.8rem;
    }
    .hour-label,
    .day {
        font-size: 0.9rem;
        font-weight: 300;
    }
}

.class:hover {
    box-shadow: inset 0 0 10rem 2rem rgba(255, 255, 255, 0.1);
}

/* Schedule card end */

/* Class Dialog start */
md-dialog {
    width: 40rem;
}

md-dialog-content i {
    margin-right: 12px;
}

/* Class Dialog end */
