/* Schedule card start */
#card .card-panel {
    padding: 0;
    margin: 0;
    position: relative;
}

.day {
    width: 19%;
    height: 100%;
    float: left;
    border-right: 1px solid #cfd8dc;
}

.days-head {
    height: 5%;
    position: relative;
    width: calc(95% + 1px);
    margin-left: calc(5% - 1px);
    border-bottom: 1px solid #cfd8dc;
    border-radius: 2px;
}

.day-label {
    position: absolute;
    width: 19%;
    height: 5%;
    top: 1%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.hour {
    position: relative;
    width: 95%;
    margin-left: 5%;
    border-bottom: 1px solid #cfd8dc;
}

.hhead {
    width: 5%;
    border-radius: 2px;
}

.hour-label {
    position: absolute;
    width: 5%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.class {
    position: absolute;
    padding: 0.5rem 0.5rem 0.7rem 0.7rem;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: inset 0 0 10rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

@media only screen and (max-width: 600px) {
    .class {
        padding: 0.2rem 0.2rem 0.3rem 0.3rem;
        font-size: 0.8rem;
    }
    .hour-label,
    .day-label {
        font-size: 0.9rem;
        font-weight: 300;
    }
}

.class:hover {
    box-shadow: inset 0 0 10rem 2rem rgba(255, 255, 255, 0.1);
}

.course-name {
    font-weight: 500;
}
/* Schedule card end */