/* Navigation bar start */
nav object {
    padding-left: 12px;
}
/* Navigation bar end */

/* Side bar start */
@media only screen and (max-width: 992px){
    .side-nav.fixed {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#side-bar {
    width: 60px;
    top: 64px;
    z-index: 1;
}

#side-bar a {
    height: 60px;
    line-height: 60px;
    color: #b0bec5;
    font-size: 1.2rem;
    font-weight: 400;
}

#side-bar a:hover {
    background-color: #37474f;
    color: #eceff1;
}

#side-bar i {
    line-height: 60px;
    color: #b0bec5;
    font-size: 2rem;
    margin: 0 24px 0 0;
}

#side-bar a:hover i {
    color: #eceff1;
}

#side-bar .collapsible-body a {
    background-color: #161d20;
    height: 48px;
    line-height: 48px;
    font-size: 1rem;
}

#side-bar .collapsible-body a i {
    font-size: 1.2rem;
    margin: 0 12px 0 0;
    line-height: 48px;
}

#side-bar .collapsible-body a:hover {
    background-color: #1e282c;
}

#side-bar a.waves-effect {
    padding: 0 16px;
}

#back, #divider {
    position: fixed;
    width: 100%;
}

#divider {
    bottom: 60px;
}

#divider > div {
    background-color: #b0bec5;
}

#back {
    bottom: 0;
}

.selected i,
.selected {
    color: white !important;
}

.loading {
    display: none;
}

#semesters ul {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#semesters > ul > li {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
/* Side bar end */

#side-bar,
#container {
    height: calc(100% - 64px);
}

/* Schedule card start */
#schedule {
    margin-left: 60px;
    width: calc(100% - 60px);
    padding: 1.6rem 0;
    margin-bottom: 0;
}

.card-panel,
.col, .day,
#schedule {
    height: 100%;
}

.row .col {
    padding: 0 1.6rem;
}

.card-panel {
    padding: 0;
    margin: 0;
    position: relative;
}

.day {
    width: 19%;
    float: left;
    border-right: 1px solid #cfd8dc;
}

.day.as-hours-head {
    width: 5%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.day-label {
    position: absolute;
    width: 19%;
    height: 5%;
    top: 1%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.hour {
    position: relative;
    width: 95%;
    margin-left: 5%;
    border-bottom: 1px solid #cfd8dc;
}

.half.hour {
    border-bottom-color: #eceff1;
}

.hour.as-days-head {
    height: 5%;
    width: calc(95% + 1px);
    margin-left: calc(5% - 1px);
    border-top-right-radius: 2px;
}

.hour-label {
    position: absolute;
    width: 5%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.class {
    width: calc(19% - 1px);
    position: absolute;
    padding: 0.5rem 0.5rem 0.7rem 0.7rem;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: inset 0 0 10rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

@media only screen and (max-width: 600px) {
    .class {
        padding: 0.2rem 0.2rem 0.3rem 0.3rem;
        font-size: 0.8rem;
    }
    .hour-label,
    .day-label {
        font-size: 0.9rem;
        font-weight: 300;
    }
}

.class:hover {
    box-shadow: inset 0 0 10rem 2rem rgba(255, 255, 255, 0.1);
}

.course-name {
    font-weight: 500;
}
/* Schedule card end */

/* Class Modal start */
#class-modal {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50rem;
}

.modal-head {
    padding: 24px;
    color: white;
}

.modal-head i {
    cursor: pointer;
}

.modal-content.row {
    padding: 16px 16px 2px;
    font-size: 1.2rem;
    color: #424242;
}

.modal-content i {
    margin-right: 16px;
}

.modal-content.row > .col {
    padding: 0 8px;
    margin: 8px 0;
}

.modal-content.row span {
    padding: 10px 0;
}
/* Class Modal end */

.mid-font {
    font-size: 1.8rem !important;
}
