/* Things that take up all screen height */
html, body {
    height: 100%;
}
/* Full height end */

/* Navigation bar start */
nav object {
    height: 2rem;
    pointer-events: none;
}

nav span {
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
    bottom: 0.2rem;
}

nav .button-collapse > i {
    font-size: 1.8rem;
}
/* Navigation bar end */

/* Content container start */
.container {
    width: 85%;
    height: 85%;
    max-width: 1440px;
    max-height: 810px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
/* Content container end */

.shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
