/* Things that take up all screen height */
html, body,
#card, #card .col,
#card .card-panel {
    height: 100%;
}
/* Full height end */

/* Navigation bar start */
nav object {
    height: 2rem;
    pointer-events: none;
}

nav span {
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
    bottom: 0.2rem;
}

nav .button-collapse > i {
    font-size: 1.8rem;
}
/* Navigation bar end */

/* Login dialog start */
#login-dialog {
    width: 24rem;
	height: auto;
    padding: 1.4rem;
}

#login-dialog h5, #sid, #pin{
	font-weight: 300;
	margin-bottom: 0;
}

#login-dialog button {
	margin-top: 2rem;
    margin-bottom: -0.5rem;
}
/* Login dialog end */

/* Side bar start */
#side-bar a {
    font-size: 1.2rem;
}

#side-bar i {
    padding-right: 1rem;
    font-size: 1.4rem;
}

.blue-grey-text.text-lighten-5:hover {
    color: #263238;
}
/* Side bar end */

/* Content container start */
.container {
    width: 85%;
    height: 85%;
    max-width: 1440px;
    max-height: 810px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
/* Content container end */