body {
    background-image: linear-gradient(to bottom, #eceff1 5%, rgba(0, 0, 0, 0) 30%), url(/static/img/background.svg);
}

/* Login dialog start */
#login-dialog {
    width: 24.1rem;
    height: auto;
    padding: 1.4rem;
}

#login-dialog h5, #sid, #pin{
    font-weight: 300;
    margin-bottom: 0;
}

#login-dialog button {
    margin-top: 2rem;
    margin-bottom: -0.5rem;
}
/* Login dialog end */

/* Side bar start */
#side-bar a {
    font-size: 1.2rem;
    height: 56px;
    line-height: 56px;
    padding: 0 24px;
    font-weight: 400;
}

#side-bar i {
    font-size: 1.4rem;
    line-height: 56px;
    margin-right: 20px;
    color: inherit;
}

.blue-grey-text.text-lighten-5:hover {
    color: #263238;
}
/* Side bar end */
