html, body,
#card, #card .col,
#card .card-panel {
    height: 100%;
}

.container {
    width: 85%;
    height: 85%;
    max-width: 1440px;
    max-height: 810px;
}

nav object {
    height: 2rem;
    pointer-events: none;
}

nav span {
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
    bottom: 0.2rem;
}

nav .button-collapse > i {
    font-size: 1.8rem;
}

#login-dialog {
    width: 24rem;
	height: auto;
    padding: 1.4rem;
}

#login-dialog h5, #sid, #pin{
	font-weight: 300;
	margin-bottom: 0;
}

#login-dialog button {
	margin-top: 2rem;
    margin-bottom: -0.5rem;
}

#side-bar a {
    font-size: 1.2rem;
}

#side-bar i {
    padding-right: 1rem;
    font-size: 1.4rem;
}

.blue-grey-text.text-lighten-5:hover {
    color: #263238;
}

.day {
    width: 20%;
    height: 100%;
    float: left;
    border-right: 1px solid #e0e0e0;
}

.hour {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.ds {
    width: 5%;
}

.hs {
    height: 10%;
}

.class {
    position: absolute;
    padding: 0.8rem;
    color: #fff;
    cursor: pointer;
    overflow:hidden;
}

#card .card-panel {
    padding: 0;
    margin: 0;
    position: relative;
}