<!doctype html>
<html ng-app="schedule">
    <head>
        {% include 'general.html' %}
        <!--Import specific schedule.css-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('schedule.static', filename='css/schedule.css') }}"/>
        <!--Import specific Data processor.js-->
        <script type="text/javascript" src="{{ url_for('schedule.static', filename='js/processor.js') }}"></script>
        <!--Import specific AngularJS app.js-->
        <script type="text/javascript" src="{{ url_for('schedule.static', filename='js/app.js') }}"></script>
        <!--Setup page title-->
        <title>Schedule - UOSHUB</title>
    </head>

    <body class="grey lighten-3">
        <div class="container" ng-controller="ctrl" ng-init="getSchedule()">
            <div class="row hide-on-small-only"></div>
            <div class="row" id="card">
                <div class="col s12">
                    <div class="card-panel shadow">
                        <div class="day hhead green lighten-5"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>

                        <div class="days-head green lighten-5"></div>
                        <div ng-repeat-start="fraction in fractions" class="hour-label blue-grey-text" style="top: {$ 2 + fraction * height $}%">
                            {$ labels[$index][0] $}<span class="hide-on-med-and-down">{$ labels[$index][1] $}</span>
                        </div>
                        <div ng-if="fraction >= 1" class="hour" style="height: {$ height / 2 $}%; border-bottom: 1px solid #eceff1;"></div>
                        <div ng-if="fraction >= 1" class="hour" style="height: {$ height / 2 $}%"></div>
                        <div ng-if="fraction < 1" class="hour" style="height: {$ fraction * height $}%" ng-repeat-end></div>

                        <div ng-repeat="course in courses"> {$ updateColor($index) $}
                            <div ng-repeat="point in course.points" class="class {$ color $}"
                                style="width: calc(19% - 1px); height: {$ course.length * height $}%; left: {$ point[0] $}%; top: {$ point[1] $}%">
                                <span class="course-name">{$ course.short_name $}</span><br>
                                <i class="fa fa-user fa-fw"></i> {$ course.prof_name $}<br>
                                <i class="fa fa-map-marker fa-fw"></i> {$ course.location[0] $} {$ course.location[1] $}
                            </div>
                        </div>
                        <div ng-repeat="day in days" class="day-label blue-grey-text text-darken-2" style="left: {$ 5 + $index * 19 $}%">
                            {$ day $} <span class="hide-on-small-only">{$ dates[$index] $}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Google Analytics code start-->
        {% include 'ganalytics.html' %}
        <!--Google Analytics code end-->
    </body>
</html>
