<!doctype html>
<html ng-app="schedule">
    <head>
        {% include 'general.html' %}
        <!--Import specific schedule.css-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('schedule.static', filename='css/schedule.css') }}"/>
        <!--Import specific Data process.js Handler-->
        <script type="text/javascript" src="{{ url_for('schedule.static', filename='js/process.js') }}"></script>
        <!--Import specific AngularJS app.js-->
        <script type="text/javascript" src="{{ url_for('schedule.static', filename='js/app.js') }}"></script>
        <!--Import my scripts.js-->
        <script type="text/javascript" src="{{ url_for('schedule.static', filename='js/scripts.js') }}"></script>
        <!--Setup page title-->
        <title>Schedule - UOSHUB</title>
    </head>

    <body class="grey lighten-2">
        <div class="navbar-fixed">
            <nav class="white shadow">
                <div class="nav-wrapper">
                    <a href="http://uoshub.tk" class="brand-logo">
                        <object type="image/svg+xml" data="{{ url_for('schedule.static', filename='img/uos_logo.svg') }}">Logo</object>
                        <span class="teal-text text-darken-1"><b class="blue-grey-text text-darken-3">UOS</b> HUB</span>
                    </a>
                </div>
            </nav>
        </div>

        <div id="container" ng-controller="ctrl" ng-init="initialize()">
            <ul id="side-bar" class="side-nav fixed blue-grey darken-4">
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a ng-click="grabSemesters()" class="collapsible-header waves-effect"><i class="fa fa-clock-o" aria-hidden="true"></i>Switch Semester</a>
                            <div id="semesters" class="collapsible-body">
                                <ul>
                                    <li class="loading"><a class="waves-effect"><i class="fa fa-refresh fa-spin fa-fw"></i>Loading...</a></li>
                                    <li ng-repeat="item in semesters"><a id="{$ item[0] $}" ng-click="grabSchedule(item[0])"
                                        class="waves-effect{$ item[0] == semester ? ' selected' : '' $}">{$ item[1] $}</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a class="waves-effect"><i class="fa fa-plus" aria-hidden="true"></i>Add an Event</a></li>
                <li><a class="waves-effect"><i class="fa fa-pencil" aria-hidden="true"></i>Design Schedule</a></li>
                <li><a class="waves-effect"><i class="fa fa-share-alt" aria-hidden="true"></i>Share Schedule</a></li>
                <li id="divider"><div class="divider"></div></li>
                <li id="back"><a class="waves-effect" href="{{ url_for('dashboard') }}">
                    <i class="fa fa-dashboard" aria-hidden="true"></i>Go To Dashboard
                </a></li>
            </ul>

            <div id="schedule" class="row">
                <div class="col s12">
                    <div class="card-panel shadow">
                        <div class="day as-hours-head teal lighten-5"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>

                        <div class="hour as-days-head teal lighten-5"></div>
                        <div ng-repeat-start="fraction in fractions" class="hour-label blue-grey-text" style="top: {$ 2 + fraction * height $}%">
                            {$ labels[$index][0] $}<span class="hide-on-med-and-down">{$ labels[$index][1] $}</span>
                        </div>
                        <div ng-if="fraction >= 1 || ($last && fraction == -1)" class="half hour" style="height: {$ height / 2 $}%"></div>
                        <div ng-if="fraction >= 1" class="hour" style="height: {$ height / 2 $}%"></div>
                        <div ng-if="$first && fraction < 1" class="hour" style="height: {$ fraction * height $}%" ng-repeat-end></div>

                        <div ng-repeat="course in courses">
                            <div ng-repeat="point in course.points" class="class {$ course.color $}"
                                style="height: {$ course.length * height $}%; left: {$ point[0] $}%; top: {$ point[1] $}%">
                                <span class="course-name">{$ course.name $}</span><br>
                                <i class="fa fa-user fa-fw"></i> {$ course.doctor[0] $}<br>
                                <i class="fa fa-map-marker fa-fw"></i> {$ course.place[0] $} {$ course.place[1] $}
                            </div>
                        </div>
                        <div ng-repeat="day in days" class="day-label blue-grey-text text-darken-2" style="left: {$ 5 + $index * 19 $}%">
                            {$ day $} <span class="hide-on-small-only">{$ dates[$index] $}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Google Analytics code start-->
        {% include 'ganalytics.html' %}
        <!--Google Analytics code end-->
    </body>
</html>
